* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.main__title {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 20px;
}

.logo {
  display: inline-block;
}

.content-item {
  display: none;

  &.content-item--active {
    display: inline-block;
  }
}

.btn-buy {
  padding: 15px 58px;
  border-radius: 30px;
  background-color: #ffffff;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
  transition: all ease 0.3s;
  &:hover {
    background-color: #000;
    color: #ffffff;
  }
}

/* HEADER */

.header {
  min-height: 100vh;

  &:has(.color--red.content-item--active) {
    background: linear-gradient(180deg, #f3d6d1 0%, rgba(235, 235, 235, 0) 100%);
  }

  &:has(.color--blue.content-item--active) {
    background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
  }

  &:has(.color--white.content-item--active) {
    background: linear-gradient(180deg, #fafafa 0%, rgba(235, 235, 235, 0) 100%);
  }

  &:has(.color--green.content-item--active) {
    background: linear-gradient(180deg, #ddead9 0%, rgba(235, 235, 235, 0) 100%);
  }

  &:has(.color--black.content-item--active) {
    background: linear-gradient(180deg, #b6b6b6 0%, rgba(235, 235, 235, 0) 100%);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 40px;
  font-weight: 700;
}

.menu__link {
  transition: all ease 0.3s;
  &:hover {
    color: #ffffff;
  }
}

.menu__btn {
  padding: 15px 58px;
  border-radius: 30px;
  background-color: #000;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  transition: all ease 0.3s;
  &:hover {
    background-color: #ffffff;
    color: #000;
  }
}

.title {
  font-size: 210px;
  font-weight: 700;
  position: absolute;
  padding-top: 110px;

  &--air {
    position: relative;
    z-index: 4;
  }

  &--pod {
    position: relative;
    z-index: 2;
  }

  &--s {
    position: absolute;
    z-index: 4;
    transform: translateY(60px) translateX(10px);
  }

  &--m {
    position: absolute;
    z-index: 4;
    transform: translateY(290px) translateX(80px);
  }

  &--ax {
    position: absolute;
    z-index: 2;
    transform: translateY(422px) translateX(190px);
  }
}

.header__content-images {
  text-align: center;
  padding-bottom: 50px;
  position: relative;
  z-index: 3;
}

/* CHOOSE COLOR SECTION */

.choose-color {
  padding: 45px 0 180px;
  text-align: center;

  &__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 555px;
    text-align: center;
    margin: 0 auto 80px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  &__btn {
    padding: 50px 55px;
    border: 1px solid #777777;
    border-radius: 20px;
    transition: box-shadow ease 0.3s;
    &:hover {
      box-shadow: 0px 0px 4px #000000;
    }
    &:active {
      box-shadow: 0px 0px 4px #000000;
    }
    &--active {
      display: none;
    }
  }
}

/* COMPOSITION SECTION */

.composition {
  margin-bottom: 180px;

  &__title {
    text-align: center;
  }

  &__text {
    text-align: center;
    max-width: 655px;
    margin: 0 auto 40px;
  }

  &__inner {
    max-width: 625px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;

      p {
        width: 230px;
      }
    }
  }
}

/* CASE SECTION */

.case {
  background-color: #fafafa;
  padding: 80px 0 100px;
  text-align: center;

  &__text {
    max-width: 825px;
    margin: 0 auto 40px;
  }
}
.energy {
  &__title {
    padding-top: 100px;
    margin-bottom: 40px;
  }

  &__num {
    font-size: 210px;
    font-weight: 700px;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 400px;
    margin: 0 auto 30px;
  }
}

/* AUDIO SECTION */

.audio {
  background-image: url(../images/audio-bg-full.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &__inner {
    min-height: 200vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__box {
    color: #ffffff;
    text-align: center;
    padding-bottom: 49vh;
  }

  &__text {
    width: 300px;
    margin-bottom: 25px;
  }
}

/* FOOTER */

.footer {
  padding: 50px 0 40px;
  background-color: #000;
  color: #ffffff;
  text-align: center;
  font-weight: 700;

  &__text {
    padding: 20px 0;
  }

  &__list {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 1470px) {
  .title {
    font-size: 180px;

    // transform: translateX(108px);
  }

  .title--air {
    position: absolute;
    transform: translateX(85px);
  }

  .title--pod {
    position: absolute;
    z-index: 2;
    transform: translateX(350px);
  }

  .title--s {
    position: absolute;
    z-index: 4;
    transform: translateY(60px) translateX(702px);
  }

  .title--m {
    position: absolute;
    z-index: 4;
    transform: translateY(296px) translateX(792px);
  }

  .title--ax {
    position: absolute;
    z-index: 2;
    transform: translateY(440px) translateX(900px);
  }
}

@media (max-width: 1350px) {
  .title {
    transform: none;
    font-size: 140px;
    padding-top: 20vh;
    left: 0;
    right: 0;
    text-align: center;
  }

  .title--air {
    transform: none;
    position: relative;
    z-index: 4;
  }

  .title--pod {
    position: relative;
    transform: none;
    z-index: 1;
  }

  .title--s {
    transform: none;
    position: relative;
    z-index: 3;
  }

  .title--m {
    transform: none;
    position: relative;
    padding-left: 15px;
  }

  .title--ax {
    transform: none;
    position: relative;
  }
}

@media (max-width: 1200px) {
  .header {
    min-height: auto;
  }
}

@media (max-width: 930px) {
  .title {
    font-size: 110px;
  }

  .title--m {
    padding-left: 15px;
  }
}

@media (max-width: 840px) {
  .title {
    font-size: 100px;
    position: relative;
    padding-top: 0;
  }

  .header__content-images img {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 58px;
  }

  .choose-color {
    padding-bottom: 60px;
  }

  .choose-color__list {
    gap: 16px;
  }

  .main__title {
    font-size: 36px;
  }

  .composition {
    margin-bottom: 60px;
  }

  .case {
    padding: 60px 0;
  }

  .energy__title {
    padding-top: 60px;
    margin-bottom: 20px;
  }

  .energy__num {
    font-size: 110px;
    margin-bottom: 20px;
  }
}

@media (max-width: 560px) {
  .choose-color__text {
    margin-bottom: 40px;
  }

  .choose-color {
    padding-bottom: 40px;
  }

  .case {
    padding: 40px 0;
  }

  .composition__inner {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .composition__inner-text p {
    width: 100%;
  }

  .menu__list {
    flex-wrap: wrap;
    gap: 20px 40px;
    margin-left: 15px;
    // padding-top: 10px;
  }

  .menu__item-btn {
    margin: 0 auto;
  }

  .menu__item-btn button {
    // width: 250px;
  }

  .menu__item:first-child {
    margin-left: auto;
  }

  .header__top {
    // align-items: flex-start;
  }
}

@media (max-width: 516px) {
  .menu__item-btn {
    display: none;
  }
}

@media (max-width: 414px) {
  .main__title,
  .choose-color__title {
    font-size: 28px;
  }

  .title {
    font-size: 50px;
  }

  .energy__num {
    font-size: 92px;
  }

  .case img {
    max-width: 100%;
  }
}

//BACKDROP

.backdrop {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);

  &__inner {
    background: rgba(255, 255, 255, 0.8);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // margin: 15% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    @media (max-width: 480px) {
      padding: 20px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 480px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all ease 0.3s;
    &:hover,
    &:focus {
      color: #000;
      cursor: pointer;
    }
    @media (max-width: 480px) {
      font-size: 20px;
    }
  }

  &__form-btn {
    display: block;
    margin: 40px auto 0;
    padding: 15px 58px;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    transition: all ease 0.3s;
    &:hover {
      background-color: #fff;
      color: #000;
    }
     @media (max-width: 480px) {
      margin-top: 20px;
    }
  }
  &__input-container {
    margin-bottom: 15px;
  }

  &__input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  &__message {
    text-align: center;
    margin-top: 20px;
  }
}

.backdrop__inner.color--red {
  background: linear-gradient(180deg, #f3d6d1 0%, rgba(235, 235, 235, 0) 100%);
}

.backdrop__inner.color--blue {
  background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
}

.backdrop__inner.color--white {
  background: linear-gradient(180deg, #fafafa 0%, rgba(235, 235, 235, 0) 100%);
}

.backdrop__inner.color--green {
  background: linear-gradient(180deg, #ddead9 0%, rgba(235, 235, 235, 0) 100%);
}

.backdrop__inner.color--black {
  background: linear-gradient(180deg, #b6b6b6 0%, rgba(235, 235, 235, 0) 100%);
}
