.audio {
  background-image: url(../images/audio-bg-full.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &__inner {
    min-height: 200vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__box {
    color: #ffffff;
    text-align: center;
    padding-bottom: 49vh;
  }

  &__text {
    width: 300px;
    margin-bottom: 25px;
  }
}